%p#notice= notice

%p
  %b Title:
  = @event.title
%p
  %b Body:
  = @event.body
%p
  %b Date:
  = @event.date
%p
  %b Time:
  = @event.time
%p
  %b Venue:
  = @event.venue
%p
  %b Address:
  = @event.address
%p
  %b Website:
  = @event.website

= link_to 'Edit', edit_event_path(@event)
\|
= link_to 'Back', events_path
